.fullscreen-layout {
  height: 100vh;
  background: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen-card {
  width: 400px;
  height: 600px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgb(76, 89, 89);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
  background-color: rgb(216, 255, 255);
}
